In [1]:
# preprocess external dataset
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import folium

In [4]:
crash_data = pd.read_csv("../Proj1data/crash_data.csv")

In [15]:
print(crash_data['VEHICLE TYPE CODE 1'].value_counts())
print(crash_data['VEHICLE TYPE CODE 2'].value_counts())
print(crash_data['VEHICLE TYPE CODE 3'].value_counts())

Sedan                                  22781
Station Wagon/Sport Utility Vehicle    19142
Taxi                                    2494
Pick-up Truck                           1475
Box Truck                                974
                                       ...
REFG                                       1
Bulk Agriculture                           1
Hrse                                       1
Snow                                       1
COMMU                                      1
Name: VEHICLE TYPE CODE 1, Length: 176, dtype: int64
Sedan                                  16869
Station Wagon/Sport Utility Vehicle    14950
Taxi                                    1844
Pick-up Truck                           1439
Box Truck                               1150
                                       ...
NYC F                                      1
tract                                      1
SEMI                                       1
Jeep                                       1
Vanette                                    1
Name: VEHICLE TYPE CODE 2, Length: 188, dtype: int64
Sedan                                  1629
Station Wagon/Sport Utility Vehicle    1272
Taxi                                     91
Pick-up Truck                            74
Box Truck                                27
Bus                                      17
Tractor Truck Diesel                     13
Van                                      12
Bike                                      9
Convertible                               5
Tow Truck / Wrecker                       4
Flat Bed                                  3
Ambulance                                 3
Stake or Rack                             2
Motorcycle                                2
Tractor Truck Gasoline                    2
AMBUL                                     2
Garbage or Refuse                         2
TRAIL                                     1
TRUCK                                     1
van                                       1
DIRT-                                     1
Multi-Wheeled Vehicle                     1
Motorscooter                              1
Dump                                      1
PK                                        1
Moped                                     1
38AB-                                     1
ambul                                     1
scoot                                     1
Name: VEHICLE TYPE CODE 3, dtype: int64

In [6]:
crash_data.size

1468937

In [8]:
crash_data.head()

,CRASH DATE,CRASH TIME,BOROUGH,ZIP CODE,LATITUDE,LONGITUDE,LOCATION,ON STREET NAME,CROSS STREET NAME,OFF STREET NAME,...,CONTRIBUTING FACTOR VEHICLE 2,CONTRIBUTING FACTOR VEHICLE 3,CONTRIBUTING FACTOR VEHICLE 4,CONTRIBUTING FACTOR VEHICLE 5,COLLISION_ID,VEHICLE TYPE CODE 1,VEHICLE TYPE CODE 2,VEHICLE TYPE CODE 3,VEHICLE TYPE CODE 4,VEHICLE TYPE CODE 5
0,02/01/2019,12:00,NaN,NaN,NaN,NaN,NaN,ELLINGTON PARKWAY,COLUMBUS AVENUE,NaN,...,Unspecified,NaN,NaN,NaN,4074161,Station Wagon/Sport Utility Vehicle,Taxi,NaN,NaN,NaN
1,02/01/2019,16:40,NaN,NaN,40.69448,-73.81006,"(40.69448, -73.81006)",SANDERS PLACE,NaN,NaN,...,NaN,NaN,NaN,NaN,4073145,Sedan,NaN,NaN,NaN,NaN
2,02/01/2019,17:45,NaN,NaN,NaN,NaN,NaN,TRIBOROUGH BRIDGE,NaN,NaN,...,Unspecified,NaN,NaN,NaN,4073485,Sedan,NaN,NaN,NaN,NaN
3,02/01/2019,18:20,NaN,NaN,NaN,NaN,NaN,1 avenue,east 31 street,NaN,...,Unspecified,NaN,NaN,NaN,4073140,Station Wagon/Sport Utility Vehicle,Sedan,NaN,NaN,NaN
4,02/01/2019,8:40,NaN,NaN,NaN,NaN,NaN,QUEENS MIDTOWN TUNNEL,NaN,NaN,...,Unspecified,NaN,NaN,NaN,4073352,Van,Box Truck,NaN,NaN,NaN